*{
	box-sizing: border-box;
}

body {
	background: rebeccapurple;
	color: white;
	padding: 40px;
	text-align: center;
}

#add-xp{
	position: absolute;

	scroll-behavior: smooth;
	transition: 8s;
	border-radius: 100%;
	z-index: 99;
}

#level-progress-container {
	border: 3px solid green;
	width: 200px;
	margin: 20px auto;
}

#level-progress {
	height: 30px;
	background-color: green;
	width: 0;
	max-width: 100%;
	transition: width .1s ease-in-out;
}

.huzzah-container{
	display: flex;
	justify-content: center;
}

#huzzah {
	margin-top: 40px;
	/* opacity: 0; */
	transition: opacity .5s ease-in-out;
}